//Mixins etc.


//Debugging Styles
.block-debug {
  background: rgba(0, 0, 0, 0.8);
  color: chartreuse;
  padding: 16px;
  font-size: 12px;
  font-family: FreeMono, monospace;

  span {
    display: block;
  }
}
