//Structure for Reference

//.witsage-block {
//
//  .witsage-block-outer {
//
//    .witsage-block-background-overlay {
//
//      .witsage-block-content-wrapper {
//
//        .witsage-block-content {
//
//        } /* End of .witsage-block-content */
//
//      } /* End of .witsage-block-content-wrapper */
//
//    } /* End of .witsage-block-background-overlay */
//
//  } /* End of .witsage-block-outer */
//
//} /* End of .witsage-block */

// END Structure for Reference


.witsage-block {

  background-repeat: no-repeat;
  background-size: cover;


  &.overlay-none {
    .witsage-block-background-overlay {
      background: none;
    }
  }

  &.overlay-style-one {
    .witsage-block-background-overlay {
      background: $overlay-style-one;
    }
  }

  &.overlay-style-two {
    .witsage-block-background-overlay {
      background: $overlay-style-two

    }
  }

  &.overlay-style-three {
    .witsage-block-background-overlay {
      background: $overlay-style-three;
    }
  }

  &.overlay-style-four {
    .witsage-block-background-overlay {
      background: $overlay-style-four;
    }
  }

  &.overlay-style-five {
    .witsage-block-background-overlay {
      background: $overlay-style-five;
    }
  }

  &.overlay-style-six {
    .witsage-block-background-overlay {
      background: $overlay-style-six;
    }
  }


  &.witsage-block-light {
    .witsage-block-content {
      color: $light-block-text-color;
    }

  }

  &.witsage-block-dark {
    .witsage-block-content {
      color: $dark-block-text-color;
    }
  }

  .witsage-block-outer {

    .witsage-block-background-overlay {

      width: 100%;
      height: 100%;
      position: relative;

      //display: flex;
      //align-items: center;
      //justify-content: space-between;

      .witsage-block-content-wrapper {

        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding: .0em .5em;

        .witsage-block-content {

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;


          &.witsage-block-content-nested {
            display: block;
          }

          .editor-inner-blocks {
            display: block;
          }


          @at-root .witsage-block-light {
            .witsage-block-content {
              color: $light-block-text-color;
            }

          }


          @at-root .witsage-block-dark {
            .witsage-block-content {
              color: $dark-block-text-color;
            }
          }


        }

        /* End of .witsage-block-content */

      }

      /* End of .witsage-block-content-wrapper */

    }

    /* End of .witsage-block-background-overlay */

  }

  /* End of .witsage-block-outer */

}

/* End of .witsage-block */
