.witsage-element-block {
  display: block;

  background-repeat: no-repeat;
  background-size: cover;

  &.witsage-block-light {
    color: black;
  }

  &.witsage-block-dark {
    color: white;
  }

}

/* End of .witsage-element- block */

